
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row erb_header">
    <h3>View Details for <%= @restaurant.name.capitalize %></h3>
  </div>

  <div class="row">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Cuisine <%= icon('cutlery') %></th>
        <th>Address <%= icon('address-card-o') %></th>
        <th>City <%= icon('circle-o') %></th>
        <th>State <%= icon('circle-o') %></th>
        <th>Zip <%= icon('circle-o') %></th>
        <th>User <%= icon('user-circle-o ') %></th>
        <th class="w-med">Updated</th>
        <th colspan="2">Manage</th>
      </tr>
      <tr>
        <td><%= @restaurant.cuisine %></td>
        <td><%= @restaurant.address %></td>
        <td><%= @restaurant.city %></td>
        <td><%= @restaurant.state %></td>
        <td><%= @restaurant.zip %></td>
        <td><%= @restaurant.updated_at.strftime('%x')%></td>

        <td><%= link_to edit_restaurant_path(@restaurant) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to 'Destroy', @restaurant, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    </table>
    <%= link_to 'Back', restaurants_path, class: "btn btn-info" %>
  </div>

  <h1>Reviews</h1>
  <table class="table table-bordered table-hover table-striped text-nowrap">
    <thead>
      <tr>
        <th>Author</th>
        <th>Rating</th>
        <th>Description</th>
        <th colspan="2">Manage</th>
      </tr>
    </thead>

    <tbody>
      <% if @restaurant.reviews %>
      <%  @restaurant.reviews.each do |review| %>
        <tr>
          <td><%= link_to "#{review.user.username.capitalize}", user_path(id: review.user_id) %></td>
          <td><%= review.rating %></td>
          <td><%= link_to "#{review.description}", review_path(id: review.id) %></td>

          <td><%= link_to edit_review_path(review) do %>
            <%= icon('pencil-square-o') %>
            <% end %>
          </td>

          <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% end %>

    </tbody>
  </table>
  <%= render partial: 'reviews/form', locals: { review: Review.new } %>

  <br>
</div>
