<div class="row">

  <div class="erb_header">
    <h3><%= @review.restaurant.name.capitalize %></h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th>Author <%= icon('user') %></th>
      <th>Restaurant <%= icon('building') %></th>
      <th>Rating <%= icon('star') %></th>
      <th>Description <%= icon('comments') %></th>
      <th>Updated <%= icon('calendar') %></th>
      <th colspan="2">Manage <%= icon('sliders') %></th>
    </tr>

    <tr>
      <td><%= @review.user.username.capitalize %></td>
      <td><%= @review.restaurant.name.capitalize %></td>
      <td><%= @review.rating %></td>
      <td><%= @review.description %></td>
      <td><%= @review.updated_at.strftime('%x')%></td>

      <td><%= link_to edit_review_path(@review) do %>
        <%= icon('pencil-square-o') %>
        <% end %>
      </td>

      <td><%= link_to review_path(@review), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon('trash') %>
        <% end %>
      </td>

    </tr>

  </table>

  <%= link_to 'Back', reviews_path, class: "btn btn-info" %>

</div>
