<div class="row">
  <table class="table table-bordered table-hover table-striped text-nowrap">
    <thead>
      <tr>
        <th>Author <%= icon('user') %></th>
        <th>Restaurant <%= icon('building') %></th>
        <th>Rating <%= icon('star') %></th>
        <th>Description <%= icon('comments') %></th>
        <th>Updated <%= icon('calendar') %></th>
        <th colspan="2">Manage <%= icon('sliders') %></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= User.find(review.user_id).username.capitalize %></td>
        <td><%= Restaurant.find(review.restaurant_id).name.capitalize %></td>
        <td><%= review.rating %></td>
        <td><%= link_to "#{review.description}", review, remote: true %></td>
        <td><%= review.updated_at.strftime('%x')%></td>

        <td><%= link_to edit_review_path(review) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to review_path(review), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
          <% end %>
        </td>


      </tr>
      <% end %>
    </tbody>
  </table>
</div>
