<p id="notice"><%= notice %></p>

<div class="row">

  <div class="erb_header">
    <h3><%= @review.restaurant.name.capitalize %></h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th class="w-small">Author</th>
      <th class="w-small">Restaurant</th>
      <th class="w-small">Rating</th>
      <th class="w-small">Description</th>
      <th class="w-med">Updated</th>
    </tr>

    <tr>
      <td><%= @review.user.username.capitalize %></td>
      <td><%= @review.restaurant.name.capitalize %></td>
      <td><%= @review.rating %></td>
      <td><%= @review.description %></td>
      <td><%= @review.updated_at.strftime('%x')%></td>
    </tr>

  </table>

  <%= link_to 'Back', reviews_path, class: "btn btn-info" %>

</div>
